td {
    width: 300px;
}

p {
    margin: auto;
    white-space: pre-line;
    padding: 2%;
    text-align: justify;
}

.nombre-ing {
    background-color: black;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tema {
    margin-top: 3%;
    text-align: center;
    height: 40px;
}